<div class="cont">
  <div class="form sign-in"> 
    <form [formGroup]="form">
      <h2>Welcome back,</h2>
      <label>
        <span>Email</span>
        <input type="email" formControlName="email" />
        <div class="error_text" *ngIf="form.controls['email'].hasError('required') && isSubmitted">Email is required.</div>
                <div class="error_text" *ngIf="form.controls['email'].hasError('pattern') && isSubmitted">Enter valid email.</div>
      </label>
      <label>
        <span>Password</span>
        <input type="password" formControlName="password"/> 
        <div class="error_text" *ngIf="form.controls['password'].hasError('required') && isSubmitted">Password is required.</div>

      </label>
      <p class="forgot-pass">
        <input type="checkbox" [checked]="remember" (change)="valueChange($event.target)">
        Remember me
      </p>
      <p class="forgot-pass">Forgot password?</p>
      <button type="button" class="submit" (click)="submit()">Sign In</button>
    </form>
  </div>
  <div class="sub-cont">
    <div class="img">
      <div class="img__text m--up">
        <h2>New here?</h2>
        <p>Sign up and discover great amount of new opportunities!</p>
      </div>
      <div class="img__btn" routerLink="/auth/signUp">
        <span >Sign Up</span>  
      </div>
    </div>
  </div>
</div>
