<div class="cont">
    <div class="sub-cont">
      <div class="img">
        <div class="img__text m--up">
          <h2>One of us?</h2>
          <p>If you already has an account, just sign in. We've missed you!</p>
        </div>
        <div class="img__btn" routerLink="/auth">
          <span >Sign In</span> 
        </div>
      </div>
      <div>
          <form [formGroup]="form">
              <h2>Time to feel like home,</h2>
              <label>
                <span>Email</span>
                <input type="email" formControlName="email"/>
                <div class="error_text" *ngIf="form.controls['email'].hasError('required') && isSubmitted">Email is required.</div>
                <div class="error_text" *ngIf="form.controls['email'].hasError('pattern') && isSubmitted">Enter valid email.</div>
            </label> 
                <label>
                    <span>Password</span>
                    <input type="password" formControlName="password"/>
                    <div class="error_text" *ngIf="form.controls['password'].hasError('required') && isSubmitted">Password is required.</div>
                </label>
                <button type="button" (click)="submit()" class="submit">Sign Up</button>
            </form>
      </div>
    </div>
  </div>
  